.footer {
    padding: 44px 0 41px 0;
    @media(max-width: $md3 + 'px'){
        padding: 30px 0;
    }

    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left {}

    &__styles {
        color: #646667;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 16px;
        @media(max-width: $md3 + 'px'){
            font-size: 11px;
        }
        @media(max-width: $md4 + 'px'){
            font-size: 9.5px;
        }
    }

    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 312px;
        @media(max-width: $md3 + 'px'){
            width: 290px;
        }
        @media(max-width: $md4 + 'px') {
            width: 250px;
        }
    }
}